---
import { TECHNOLOGIES } from "../data/data";
---

<div class="relative flex overflow-x-hidden">
  <div class="py-12 animate-marquee whitespace-nowrap">
    {TECHNOLOGIES.map((tech) => <span class="text-4xl mx-4">{tech.name}</span>)}
  </div>
  <!-- Duplicate the marquee to create a continuous loop -->
  <div class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap">
    {TECHNOLOGIES.map((tech) => <span class="text-4xl mx-4">{tech.name}</span>)}
  </div>
</div>
